%aside
  #nextclass
    %h1 nextClass = {
    %ul
      %li when: Oct 6th @ 7:30pm,
      %li 
        where:  
        %a{:href => "http://maps.google.com/maps?q=36+East+12th+Street,+new+york&hl=en&ll=40.734397,-73.992126&spn=0.008699,0.019312&sll=40.666899,-74.82514&sspn=1.114564,2.471924&vpsrc=0&t=m&z=16&iwloc=A"}> Dogpatch Labs
      %li };
  #rsvp
    #price
      %h1 $15
    %a#action{:href => "http://hackclass.eventbrite.com"}
      %h1 RSVP
      %h2 to save your seat
%article
  #description
    %h1 Are you a great programmer? Do you want to be?
    %h2 There is no better way to learn.
    %p Tear apart difficult programming challenges. Contribute to open source projects. Immerse yourself in real world code surrounded by kickass people.
    %p At HackClass we upgrade code know-how as we hack better together.