%aside
  #nextclass
    %h1 nextClass = {
    %ul
      %li when: Jan 17th @ 6:00pm,
      %li 
        where:  
        %a{:href => "http://g.co/maps/ct6dv"}> WeWork Labs
      %li };
  #rsvp
    #price
      %h1 Pay What You Want
    %a#action{:href => "http://hackclass.eventbrite.com"}
      %h1 RSVP
      %h2 to save your seat
%article
  #description
    %h1 HackClass is a community of inspired programmers. 
    %p We learn together to become better at everything we do through continuous hacking of our craft. 
    %p We believe the best way to learn is by writing interesting code in good company. 
    %h2 From novice to seasoned pro, you're always welcome to join.