%aside
  #nextclass
    %h1 nextClass = {
    %ul
      %li when: Jan 10th @ 6:00pm,
      %li 
        where:  
        %a{:href => "http://maps.google.com/maps?q=36+East+12th+Street,+new+york&hl=en&ll=40.734397,-73.992126&spn=0.008699,0.019312&sll=40.666899,-74.82514&sspn=1.114564,2.471924&vpsrc=0&t=m&z=16&iwloc=A"}> WeWork Labs
      %li };
  #rsvp
    #price
      %h1 Free
    %a#action{:href => "http://hackclass.eventbrite.com"}
      %h1 RSVP
      %h2 to save your seat
%article
  #description
    %h1 HackClass is a community of inspired programmers. 
    %p We learn together to become better at everything we do through continuous hacking of our craft. 
    %p We believe the best way to learn is by writing interesting code in good company. 
    %h2 From novice to greybeard, you're always welcome to join.